<nav class="navbar navbar-fixed-top navbar-light top" style="background-color: green;">
  <div class="container">
    <a class="navbar-brand blog-title" href="{{@blog.url}}">{{@blog.title}}</a>
    <div class="pull-xs-right">
        <span class="fa-stack fa-lg">
          <i class="twitter fa fa-circle fa-stack-2x"></i>
          <a target="_blank" href="https://twitter.com/tgray12" title="Twitter"><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a>
        </span>

        <span class="fa-stack fa-lg">
          <i class="facebook fa fa-circle fa-stack-2x"></i>
          <a href="https://www.facebook.com/trevorg0" title="Facebook"><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a>
        </span>

        <span class="fa-stack fa-lg">
          <i class="googleplus fa fa-circle fa-stack-2x"></i>
          <a target="_blank" href="#" title="Google Plus"><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></a>
        </span>

        <span class="fa-stack fa-lg">
          <i class="github fa fa-circle fa-stack-2x"></i>
          <a target="_blank" href="https://github.com/graytre1" title="Github"><i class="fa fa-github-alt fa-stack-1x fa-inverse"></i></a>
        </span>

        
    </div>
  </div>
</nav>